<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <style>
            .container{
                padding: 25px;
                margin: 25px auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>404 Not Found</h1>
        </div>
    </body>
</html>