<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation</title>
    </head>
    <body>
        <div>
            <h1>
                <% if(message){ %>
               <p> <%= message %></p>
               <% } %>
            </h1>
        </div>
    </body>
</html>